include ./components/header
main
	include ./components/banner
	include ./components/features
	include ./components/about-us
	include ./components/marquee
	include ./components/services
	include ./components/why-choose-us
	include ./components/our-team
	
