section.about-wrap.py-80 
	.container
		.about-row
			.about-left 
				.title-left 
					h2.title About Us 
					.subtitle Dental clinic Bright Smile 
					.desc
						p Is simply dummy text of the printing lorem ipsum and typesetting industry. Lorem Ipsum has been the industry's standard . Is simply dummy text of the printing lorem ipsum and typesetting industry. Lorem Ipsum has been the industry's standard.
				.about-num-wrap
					.about-num-item 
						.about-num-title.num__first 0
						.about-num-desc Completed #[br] Procedures 
					.about-num-item 
						.about-num-title.num__second 0
						.about-num-desc Patient #[br] Satisfaction 
					.about-num-item 
						.about-num-title.num__third 0
						.about-num-desc Awards 
					.about-num-item 
						.about-num-title.num__forth 0
						.about-num-desc Success of #[br] Implantations
			.about-right
				.about-image-wrap
					span
						img(src="images/about-image.jpeg", alt="")
					span
						img(src="images/about-image.jpeg", alt="")
					span
						img(src="images/about-image.jpeg", alt="")



