section.banner-wrap 
	.container 
		.banner-row 
			.banner-left 
				.banner-toptitle Welcome to our clinic
				h1.banner-title Dental Clinic #[br] Bright Smile
				.banner-desc 
					p We at Bright Smile are always fully focused on helping your child and you to overcame any hurdle, whether it’s chicken pox or just a seasonal flue.
				.banner-btn-row 
					a.button-v2 See All Services
					a.button-v3 Contact Us
			.banner-right 
				img(src="images/banner-image.png", alt="Banner girl")