section.features-wrap
	.container 
		.features-row 
			.features-item
				.features-icon 
					img(src="images/features-1.svg", alt="Icon")
				.features-text 
					.features-title 24/7 customer support
					.features-desc 
						p Always available: round-the-clock customer support.
			.features-item
				.features-icon 
					img(src="images/features-2.svg", alt="Icon")
				.features-text 
					.features-title Affordable dental care
					.features-desc 
						p Affordable dental care for the whole family.
			.features-item
				.features-icon 
					img(src="images/features-3.svg", alt="Icon")
				.features-text 
					.features-title Team of talented doctors
					.features-desc 
						p A team of talented doctors with years of experience.