section.marquee-wrap
	.marquee-row 
		.marquee-item(data-name="Health") Health
		.marquee-item(data-name="Smile") Smile
		.marquee-item(data-name="Teeth") Teeth
		.marquee-item(data-name="Gums") Gums
		.marquee-item(data-name="Treatment") Treatment
		.marquee-item(data-name="Health") Health
		.marquee-item(data-name="Smile") Smile
		.marquee-item(data-name="Teeth") Teeth
		.marquee-item(data-name="Gums") Gums
		.marquee-item(data-name="Treatment") Treatment

