section.team-wrap.py-100
	.container
		.title-center
			h2.title Our Team
			.subtitle Our Skilled Professionals
			.desc 
				p Our dental team is composed of highly trained and dedicated professionals who are committed to providing top-notch care to our patients.
		.team-row 
			.team-item
				.team-thumb
					a(href="#").team-image
						img(src="images/team-1.jpeg", alt="Image")
					.team-social 
						a(href="#") 
							img(src="images/facebook-black.svg", alt="Icon")
						a(href="#") 
							img(src="images/telegram-black.svg", alt="Icon")
						a(href="#") 
							img(src="images/twitter-black.svg", alt="Icon")
				.team-body 
					a.team-title(href="#") Alexander Mitchell
					.team-spec Oral Surgeon
			.team-item
				.team-thumb
					a(href="#").team-image
						img(src="images/team-2.jpeg", alt="Image")
					.team-social 
						a(href="#") 
							img(src="images/facebook-black.svg", alt="Icon")
						a(href="#") 
							img(src="images/telegram-black.svg", alt="Icon")
						a(href="#") 
							img(src="images/twitter-black.svg", alt="Icon")
				.team-body 
					a.team-title(href="#") Olivia Anderson
					.team-spec Dentistry Specialist
			.team-item
				.team-thumb
					a(href="#").team-image
						img(src="images/team-3.jpeg", alt="Image")
					.team-social 
						a(href="#") 
							img(src="images/facebook-black.svg", alt="Icon")
						a(href="#") 
							img(src="images/telegram-black.svg", alt="Icon")
						a(href="#") 
							img(src="images/twitter-black.svg", alt="Icon")
				.team-body 
					a.team-title(href="#") David Protopskiy
					.team-spec Dental Surgeon
			.team-item
				.team-thumb
					a(href="#").team-image
						img(src="images/team-4.jpeg", alt="Image")
					.team-social 
						a(href="#") 
							img(src="images/facebook-black.svg", alt="Icon")
						a(href="#") 
							img(src="images/telegram-black.svg", alt="Icon")
						a(href="#") 
							img(src="images/twitter-black.svg", alt="Icon")
				.team-body 
					a.team-title(href="#") Isabella Roberts
					.team-spec Dentistry Specialist
		.text-center.mt-50
			a(href="#").button-v1 See All Team 