.services-wrap.py-80
	.container
		.title-row
			.title-row-left
				h2.title Our Services
				.subtitle Explore Our Dentist Services
			.title-row-right
				.desc 
					p Is simply dummy text of the printing lorem ipsum and typesetting industry. Lorem Ipsum has been the industry's standard.
		.services-wrap 
			.services-item 
				a(href="#").services-icon
					img(src="images/services-icon-1.svg", alt="Icon")
				h3.services-title Smile design
				.services-desc 
					p At our dental clinic, we pride ourselves on providing exceptional design
				a(href="#").services-readmore 
					span Read More
					span
						img(src="images/arrow-next-blue.svg", alt="Arrow Next")
			.services-item 
				a(href="#").services-icon
					img(src="images/services-icon-2.svg", alt="Icon")
				h3.services-title Aesthetic dentistry
				.services-desc 
					p Teeth whitening procedures to restore your teeth to their natural white color.
				a(href="#").services-readmore 
					span Read More
					span
						img(src="images/arrow-next-blue.svg", alt="Arrow Next")
			.services-item 
				a(href="#").services-icon
					img(src="images/services-icon-3.svg", alt="Icon")
				h3.services-title Teeth cleaning
				.services-desc 
					p Teeth cleaning is an integral part of preventive dentistry practices and care.
				a(href="#").services-readmore 
					span Read More
					span
						img(src="images/arrow-next-blue.svg", alt="Arrow Next")
			.services-item 
				a(href="#").services-icon
					img(src="images/services-icon-4.svg", alt="Icon")
				h3.services-title Surgical tooth extract
				.services-desc 
					p Surgical tooth extract
				a(href="#").services-readmore 
					span Read More
					span
						img(src="images/arrow-next-blue.svg", alt="Arrow Next")
			.services-item 
				a(href="#").services-icon
					img(src="images/services-icon-5.svg", alt="Icon")
				h3.services-title Sleep apnea
				.services-desc 
					p Cosmetic dentistry is not only about taking care of your teeth.
				a(href="#").services-readmore 
					span Read More
					span
						img(src="images/arrow-next-blue.svg", alt="Arrow Next")
			.services-item 
				a(href="#").services-icon
					img(src="images/services-icon-6.svg", alt="Icon")
				h3.services-title Dental implantation
				.services-desc 
					p Dental implantation has become an important step in modern dentistry.
				a(href="#").services-readmore 
					span Read More
					span
						img(src="images/arrow-next-blue.svg", alt="Arrow Next")
			.services-item 
				a(href="#").services-icon
					img(src="images/services-icon-7.svg", alt="Icon")
				h3.services-title Orthodontic treatment
				.services-desc 
					p Orthodontic treatment is a specialized field of dentistry focused on correcting
				a(href="#").services-readmore 
					span Read More
					span
						img(src="images/arrow-next-blue.svg", alt="Arrow Next")
			.services-item 
				a(href="#").services-icon
					img(src="images/services-icon-8.svg", alt="Icon")
				h3.services-title Crowns and Bridges 
				.services-desc 
					p Crowns and Bridges has become an important step in modern dentistry.
				a(href="#").services-readmore 
					span Read More
					span
						img(src="images/arrow-next-blue.svg", alt="Arrow Next")
