section.why-wrap.py-100.progress-js
	.container
		.why-row 
			.why-left 
				.title-left 
					h2.title Why Choose Us 
					.subtitle Dental clinic Bright Smile
					.desc 
						p At our dental clinic, we pride ourselves on providing exceptional care and service. Here’s why you should choose us for all your dental needs:
				.progress-wrap
					.progress-item
						.progress-text
							.progress-name Advanced Technology
							.progress-percent(data-percent="95") 0
						.progress-line
							.progress-drag
					.progress-item
						.progress-text
							.progress-name Patient Satisfaction
							.progress-percent(data-percent="85") 0
						.progress-line
							.progress-drag
					.progress-item
						.progress-text 
							.progress-name Comprehensive Services
							.progress-percent(data-percent="75") 0
						.progress-line
							.progress-drag
			.why-right
				#image-compare 
					img(src="/images/before-image.jpg", alt="Before Image")
					img(src="/images/after-image.jpg", alt="After Image")
												